.content {
  box-sizing: border-box;
  padding: 0.1rem;
  background-color: #fff;
}
.content li {
  list-style: none;
  border: 0.01rem solid #cccccc;
  padding: 0.15rem;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.content li a {
  font-size: 0.4rem;
}
